.Container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 0 auto;

  &__Status {
    font-size: 6rem;
    text-align: center;
  }

  &__Words {
    font-size: 2rem;
    text-align: center;
  }

  &__Stretched {
    align-self: stretch;
  }
}

.HangManDrawing {
  position: relative;

  &__colLine {
    height: 400px;
    width: 10px;
    margin-left: 120px;
    background-color: black;
  }
  &__rowLine {
    height: 10px;
    width: 200px;
    margin-left: 120px;
    background-color: black;
  }
  &__halfLine {
    height: 50px;
    width: 10px;
    margin-left: 120px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
  }
  &__bottomLine {
    height: 10px;
    width: 250px;
    background-color: black;
  }
}

.head {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 10px solid black;
  position: absolute;
  top: 50px;
  right: -30px;
}

.Body {
  width: 10px;
  height: 100px;
  background-color: black;
  position: absolute;
  top: 120px;
  right: 0;
}

.Right__Arm {
  width: 100px;
  height: 10px;
  background-color: black;
  position: absolute;
  top: 150px;
  right: -100px;
  rotate: -30deg;
  transform-origin: left bottom;
}
.Left__Arm {
  width: 100px;
  height: 10px;
  background-color: black;
  position: absolute;
  top: 150px;
  right: 10px;
  rotate: 30deg;
  transform-origin: right bottom;
}

.Right__Leg {
  width: 100px;
  height: 10px;
  background-color: black;
  position: absolute;
  top: 210px;
  right: -90px;
  rotate: 60deg;
  transform-origin: left bottom;
}

.Left__Leg {
  width: 100px;
  height: 10px;
  background-color: black;
  position: absolute;
  top: 210px;
  right: 0;
  rotate: -60deg;
  transform-origin: right bottom;
}

.HangManWord {
  display: flex;
  gap: 25px;
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
}

.underLine {
  border-bottom: 0.1em solid black;
}

.KeyBoard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  gap: 0.5rem;
}

.btn {
  width: 100%;
  border: 3px solid black;
  background: none;
  aspect-ratio: 1/1;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.btn:active {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.btn:inactive {
  background-color: red;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsl(200, 100%, 70%);
}
